 *{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #dd7044;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color:green;
  color: black;
}

/* Style the content */
.content {
  background-color:chartreuse;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color:white;
  padding: 10px;
}
.CS{
  background-color:white
}

p{
  text-align:center;
}
h1{
  text-align:center;
}
h2{
  text-align:center;
}
.img1{
  margin-left:200px;
  margin-right:200px;
}
.p1{
  margin-left:20px;
 
}


